.mark-new-posts-options {
	width: 350px;
	margin-top: 10px;
	padding: 15px 10px;
	border: 1px solid #ccc;
	white-space: nowrap;
	background-color: #fff;
}

.mark-new-posts-title {
	margin: 2px 0 10px 5px;
	color: #348;
	font-size: 20px;
}

.mark-new-posts-row {
	margin: 0 0 5px 40px;
}

.mark-new-posts-col {
	display: inline-block;
	width: 150px;
	white-space: normal;
	vertical-align: middle;
}

.mark-new-posts-col:first-child {
	margin-right: 5px;
	text-align: right;
}

.mark-new-posts-input {
	width: 97%;
}

.mark-new-posts-buttons-set {
	margin-top: 5px;
	float: right;
}

.mark-new-posts-button {
	width: 100px;
	height: 30px;
	border: 0;
	padding: 5px 10px;
}

.mark-new-posts-button:not(:disabled) {
	cursor: pointer;
}

.mark-new-posts-button-green {
	background-color: #be9;
}

.mark-new-posts-button-blue {
	background-color: #cdf;
}

.mark-new-posts-button-green:not(:disabled):hover {
	background-color: #ad8;
}

.mark-new-posts-button-blue:not(:disabled):hover {
	background-color: #bce;
}

.mark-new-posts-message {
	display: none;
	float: right;
	margin: 10px 5px 0 0;
}

.mark-new-posts-success {
	color: #0a0;
}

.mark-new-posts-error {
	color: #a00;
}

.mark-new-posts-clearfix {
	clear: both;
}